/*
  DVG Auto logout
  1. Below breakpoint Margin for the first column. (default: .5rem)
  2. Above breakpoint spacing between 2 columns (left & right). (default: 2.5rem)
*/

.dvgautologout {
  --dvgautologout-item-margin: .5rem; /* 1 */
  --dvgautologout-column-padding: 2.5rem; /* 2 */
}

.dvgautologout__column1 {
  margin-bottom: .5rem;
  margin-bottom: var(--dvgautologout-item-margin);
}

@media (min-width: 56.8889em) {
  .dvgautologout {
    display: flex;
    justify-content: space-between;
  }

  .dvgautologout__column1 {
    margin-bottom: 0;
    padding-right: 2.5rem;
    padding-right: var(--dvgautologout-column-padding);
  }

  .dvgautologout__column2 {
    padding-left: 2.5rem;
    padding-left: var(--dvgautologout-column-padding);
    text-align: right;
  }
}
